body {
  background-image: url("./assets/Images/inspect/weather/Web/01_Home/background/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

#menu-icon{
  display: none;
}

#navbar{
  clear: both;
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
}

#navdiv{
  display: flex;
}

#navdiv-drawer{
  display: none;
}

.navs{
  margin-right: 40px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}

.recent-search{
  min-width: 110px;
}

.separator{
  margin-top: -28px;
  height: 30px;
  border-top: 0.5px solid white;
  margin-left: 121px;
  margin-right: 121px;
}

.current{
  border-bottom: 3px solid wheat
}

#timestamp {
  margin-top: 30px;
  color: white;
  font-size: 13px;
  margin-right: 130px;
  min-width: 160px;
}

#app-logo{
  margin-left: 121px;
  margin-top: 40px;
}

#app-top-container{
  display: flex;
  justify-content: space-between;
}

#search-bar{
  height: 45px;
  width: 458px;
  border-radius: 5px;
  margin-right: 120px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

#search-text{
  background: none;
  border: none;
  padding-left: 10px;
  color: white;
  font-size: 16px;
  height: 45px;
  width: 458px;
  background-color: rgba(255, 255, 255, 0.1);
}

#search-text::placeholder{
  color: white;
}

#search_logo{
  height: 24px;
  width: 24px;
  right: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: absolute;
}

.location{
  margin-left: 131px;
}

.location>h3{
  color: white;
}

#fav-section-text{
  color: white;
  margin-top: 0px;
  margin-left: -20px;
}

#fav-section{
  display: flex;
}

#fav-icon{
  background-color: "yellow";
  height: 19px;
  width: 19px;
  margin-left: 124px;
}

#displayed-weather{
  margin-top: 34px;
  clear: both;
  display: flex;
  margin: auto;
  width: 80px;
  height: 84px;
}

#temperature-section{
  clear: both;
  margin: auto;
  text-align: center;
}

 #temperature-section>p{
  clear: both;
  font-size: 64px;
  color: white;
  display: inline;
}

#temperature-section div{
  display: inline-block;
  border: 1px solid white;
  height: 30px;
  width: 28px;
  margin-top: -30px;
} 

#temperature-section div p{
  float: left;
}

.degree{
  margin-top: 3px;
  font-size: 11px;
  margin-left: 6px;
}

.temp-type{
  margin-top: 6px;
  font-size: 16px;
  margin-left: 1px;
}

#selected-degree{
  background-color: white;
  color: red;
}

#unselected-degree{
 color: white;
}

#temp-description{
  font-size: 22px;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#extra-info-section{
  color: white;
  border-top: 0.5px solid white;
  margin-left: 121px;
  margin-right: 121px;
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  overflow: scroll; 
}

.value-range{
  clear: both;
  display: flex;
}

.value-range p{
  margin-top: -10px;
}

.dash{
  margin-left: 3px;
  margin-right: 3px;
}

.degree-text{
  margin-top: 13px;
  font-size: 11px;
  margin-left: 1px;
}

.stat-number{
  margin-top: 13px;
  font-size: 22px;
  margin-left: 1px;
  font-weight: bold;
}

.category-icon{
  margin-left: 62px;
}

.stat-section{
  margin-left: 17px;
  margin-top: 20px;
}

.stat-section>p{
  font-size: 15px;
  margin-left: 3px;
}

#stat-view{
  min-width: 220px;
  display: flex;
}

/* Media Query for Screens Smaller Than 944px */
@media (max-width: 944px) {
  #extra-info-section{
    color: white;
    border-top: 0.5px solid white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    overflow: scroll; 
  }

  #search-bar{
    height: 45px;
    width: 308px;
    border-radius: 5px;
    margin-right:80px;
    margin-top: 35px;
  }

  #search_logo{
    height: 24px;
    width: 24px;
    right: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
  }

  .separator{
    margin-top: -28px;
    height: 30px;
    border-top: 0.5px solid white;
    margin-left: 80px;
    margin-right: 80px;
  }

  #app-logo{
    margin-left: 80px;
    margin-top: 40px;
  }

  #navbar{
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
  }

  .location{
    margin-left: 91px;
  }
  
  #fav-icon{
    background-color: "yellow";
    height: 19px;
    width: 19px;
    margin-left: 84px;
  }

  #timestamp {
    margin-top: 30px;
    color: white;
    font-size: 13px;
    margin-right: 80px;
    min-width: 160px;
  }
}

/* Media Query for Screens Smaller Than 768px */
@media (max-width: 768px) {
  #extra-info-section{
    color: white;
    border-top: 0.5px solid white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    overflow: scroll; 
  }

  #search-bar{
    height: 45px;
    width: 250px;
    border-radius: 5px;
    margin-right: 80px;
    margin-top: 35px;
  }

  #search_logo{
    height: 24px;
    width: 24px;
    right: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
  }

  #timestamp {
    margin-top: 30px;
    color: white;
    font-size: 13px;
    margin-right: 80px;
    min-width: 160px;
  }
}

/* Media Query for Screens Smaller Than 768px */
@media (max-width: 660px) {
  #extra-info-section{
    color: white;
    border-top: 0.5px solid white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    overflow: scroll; 
  }

  #search-bar{
    height: 45px;
    width: 250px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 35px;
  }

  #search_logo{
    height: 24px;
    width: 24px;
    right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
  }

  #navbar{
    display: flex;
    justify-content: center;
  }

  #navdiv{
    display: none;
  }

  .separator{
    margin-top: -28px;
    height: 30px;
    border: none;
    margin-left: 121px;
    margin-right: 121px;
  }

  #timestamp {
    margin-top: 30px;
    margin-left: 20px;
    color: white;
    font-size: 16px;
    min-width: 160px;
    text-transform: uppercase;
  }

  .location{
    margin-left: 0px;
    margin-top: -20px;
    display: flex;
    justify-content: center;    
  }
  
  #fav-section{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
  }

  #fav-icon{
    background-color: "yellow";
    height: 19px;
    width: 19px;
    margin-left: 0px;
  }

  #menu-icon{
    display: block;
    height: 24px;
    width: 24px;
    /* margin-bottom: 3px; */
    margin-left: 10px;
    margin-top: 45px;
  }

  #logo-section{
    display: flex;
  }

  #app-logo{
    margin-left: 40px;
    margin-top: 45px;
    height: 24px;
    width: 113px;
    /* background-color: red; */
  }
  

  #navdiv-drawer{
    display: block;
    background-color: white;
    position: absolute;
    width: 200px;
    height: 130%;
    top: -20px;
  }

  .navs-drawer{
    text-decoration: none;
    color: black;
  }

  .current-drawer{
    font-weight: bold;
  }
  
}

/* Media Query for Screens Smaller Than 480px */
@media (max-width: 480px) {
  #extra-info-section{
    color: white;
    border-top: 0.5px solid white;
    margin-left: 1px;
    margin-right: -100px;
    margin-top: 300px;
    display: flex;
    overflow: scroll; 
  }

  #search-bar{
    height: 45px;
    width: 230px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
  }

  #search_logo{
    height: 24px;
    width: 24px;
    right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
  }

  #search-text{
    background: none;
    border: none;
    padding-left: 10px;
    color: white;
    font-size: 16px;
    height: 45px;
    width: 185px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  #app-logo{
    margin-left: 10px;
    margin-top: 40px;
    height: 24px;
    width: 113px;
  }

  #menu-icon{
    display: block;
    height: 24px;
    width: 24px;
    /* margin-bottom: 3px; */
    margin-left: 10px;
    margin-top: 40px;
  }
}

@media (max-width: 380px) {
  #extra-info-section{
    color: white;
    border-top: 0.5px solid white;
    margin-left: 1px;
    margin-right: -100px;
    margin-top: 140px;
    display: flex;
    overflow: scroll; 
  }
}